<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
</head>
<body>
<ul>
    <li><a href="#">Information</a></li>
    <li><a th:href="|/nutritionStore?name=${fox.getName()}|">Nutrition Store</a></li>
</ul>
<img src="greenfox.png">
<p>This is <span th:text="${fox.getName()}"></span> currently living on <span th:text="${fox.getFood()}"></span> and <span th:text="${fox.getDrink()}"></span>.
    <span th:text="|He knows ${fox.getTricks().size()} tricks.|"></span>
</p>
<h2>Known tricks</h2>
<p th:if="${fox.getTricks().isEmpty()}">You know no tricks, yet. Go and learn some.</p>
<ul th:unless="${fox.getTricks().isEmpty()}" th:each="trick : ${fox.getTricks()}">
</ul>
</body>
</html>