<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts</title>
    <meta charset="utf-8"/>
</head>
<body>
<form action="#" th:object="${newBankAccount}" method="post">
    <p>Name: <input type="text" th:field="*{name}" ></p>
    <p>Balance: <input type="text" th:field="*{balance}" ></p>
    <p>Animal Type: <input type="text" th:field="*{animalType}" ></p>
    <p>King?: <br>
        <input type="radio" th:field="*{kingness}" value="true"> Yes!<br>
        <input type="radio" th:field="*{kingness}" value="false"> Nope.<br>
    </p>
    <p>Morality: <br>
        <input type="radio" th:field="*{morality}" value="true"> All good and innocent.<br>
        <input type="radio" th:field="*{morality}" value="false"> Anarchy and chaos.<br>
    </p>

    <p><input type="submit" value="Submit" ></p>
</form>
<table style="width:30%; height:30px; font-size: large">
    <thead>
    <tr style="background-color:pink">
        <th>NAME</th>
        <th>BALANCE</th>
        <th>TYPE</th>
        <th>ID</th>
        <th>KING?</th>
        <th>MORAL ORIENTATION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="currentAccount : ${bankAccounts}" style="background-color:lightgray" align="center">
        <td th:text="${currentAccount.name}"></td>
        <td th:text="${#numbers.formatDecimal(currentAccount.balance, 0, 2)} + ' Zebra'"></td>
        <td th:text="${currentAccount.animalType}"></td>
        <td th:text="${currentAccountStat.count}"></td>
        <td th:if="${currentAccount.isKingness()}">
            <p>King!</p>
        </td>
        <td th:unless="${currentAccount.isKingness()}">
            <p>Not a king</p>
        </td>
        <td th:if="${currentAccount.isMorality()}">
            <p>Good guy</p>
        </td>
        <td th:unless="${currentAccount.isMorality()}">
            <p>Bad guy</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>