<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Todo CRUD App</title>
</head>
<body>
<h1>Todos for today:</h1>
<table border="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="currentTodo : ${todos}">
        <td th:if="${(currentTodo.isDone() != isActive) || (isActive == null)}" th:text="${currentTodo.getId()}"></td>
        <td th:if="${(currentTodo.isDone() != isActive) || (isActive == null)}" th:text="${currentTodo.getTitle()}"></td>
        <td th:if="${(currentTodo.isDone() != isActive) || (isActive == null)}" th:text="${currentTodo.isDone()}"></td>
        <td th:if="${(currentTodo.isDone() != isActive) || (isActive == null)}" th:text="${currentTodo.isUrgent()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>